* {
    border: none;
    border-radius: 0;
    font-family: madness, Iosevka Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}
window#waybar.empty #window {  
 background:none;  
}

tooltip {
    background: #24283b;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #7aa2f7;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#clock, #battery, #pulseaudio, #custom-updates, #custom-dexcom, #window, #tray, #network, #workspaces, #backlight{
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-power {
	color: #24283b;
	background-color: #f7768e;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 5px 10px;
}

#clock {
    color: #bb9af7;
    border-radius: 0px 5px 5px 0px;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f7768e;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
	color: #ff9e64;
}

#workspaces, #window {
    background: #24283b;
    border-radius: 5px;
    margin-left: 10px;
	margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#backlight {
	color: #e0af68;
}

#window {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#tray {
    color: #24283b;
    background-color: #f7768e;
    border-radius: 5px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 5px 5px;

}

#custom-dexcom {
    color: #7aa2f7;
    background-color: #24283b;
    border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#custom-updates {
    color: #73daca;
}

#mpris {
    background-color: #24283b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0px;
    color: #f7768e;
    margin-top: 5px;
    margin-bottom: 5px;
}
